* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 20px rgb(11, 11, 11);
  border-radius: 20px;
  background-color: black;
}
.key {
  height: 400px;
  width: 50px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
    border: 2px solid black;
      border-bottom-right-radius: 7px;
      border-bottom-left-radius: 7px;

}
.white {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;



}

.black-right,
.black-left {
  position: absolute;
  background-color: black;
  height: 180px;
  width: 30px;
  top: 0;
  box-shadow: 4px 4px 15px rgb(78, 76, 76);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}

.black-right {
  right: 0px;
  border-left: 2px solid white;
    border-bottom-right-radius: 7px;

}

.black-left {
  left: 0px;
  border-left: 2px solid white;
    border-bottom-left-radius: 7px;

}

p {
  margin: 15px;
  font-size: 30px;
}
