* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 20px rgb(11, 11, 11);
}

.key {
  height: 400px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.upper-right {
  position: absolute;
  background-color: black;
  height: 180px;
  width: 30px;
  top: 0;
  right: 0;
  border-left: 2px solid white;
  box-shadow: 4px 4px 15px rgb(78, 76, 76);
}
.upper-left {
  position: absolute;
  background-color: black;
  height: 180px;
  width: 30px;
  top: 0;
  left: 0;
  border-left: 2px solid white;
  box-shadow: 4px 4px 15px rgb(78, 76, 76);
}
p {
  margin: 15px;
  font-size: 30px;
}
