* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}
html,body {
  height: 100%;
  width: 100%;
}

body{
    background-color: rgb(110, 183, 177);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box {
  height: 400px;
  width: 400px;
  background-color:rgb(249, 251, 251) ;
  margin: 3px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 3px 3px;
}
button{
  margin: 15px;
  padding: 2px;
  height: 55px;
  width: 175px;
  color: black;
  border: 2px solid;
  box-shadow: 3px 3px;
  border-radius: 5px;
  cursor:pointer;
  background-color: rgb(104, 179, 179);
}
