* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* body {
  background: black;
} */
main {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(30, 30, 30),
    black
  ); */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reel {
  height: 100%;
  width: 400px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reel .bottom{
  position: absolute;
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
  width: 100%;
  bottom: 0;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    h3{
        font-size: 20px;
        font-weight: 700;
    }
    button{
        background-color: transparent;
        padding: 2px 4px;
        border-radius: 2px;
        width: 80px;
        font-size: 12px;
        font-weight: 700;
    }
}
.bottom > h4{
    font-weight: 500;
    font-size: 15px;
}

.right{
    position: absolute;
    display: flex;
    flex-direction: column;

}


