* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(91, 90, 90);
  overflow: hodden;
}
main {
  background-color: white;
  height: 400px;
  width: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  box-shadow: 2px 6px black;
  outer {
    background-color: gray;
    margin: 20px;
    border-radius: 20px;
    height: 30px;
    width: 650px;
    position: relative;
  }
  inner {
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 20px;
    background-color: rgb(13, 124, 13);
  }
  h1 {
    margin: 20px;
    font-weight: 600;
  }
}
div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}
button {
  background-color: rgb(138, 139, 139);
  height: 50px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 3px black;
}
button:active {
  scale: 0.8;
}
h2 {
  font-size: 35px;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
